<div class="field_with_errors">
  <label class="capthca">
    Введите код <br />с изображения:<br>
    <span class="capthca">
      <%= simple_captcha_options[:image] %>
    </span>
  </label>
</div>
<%= simple_captcha_options[:field] %>
