<div class="prices">
  <ul class="block-ul">
    <% @photo_albums.each do |album| -%>
	  <li id="album_<%= album.id %>_photos">
		  <a href="#" class="prices-cat"><%= album.name %></a>
			<ul class="block-ul image-list folded">
        <% album.attachments.each do |photo| -%>
			  <li>
          <%= link_to image_tag(photo.image.url(:site)), photo.image.url, :title => "<div class=\"addthis_toolbox addthis_default_style\" addthis:url=\"#{single_photo_url(photo.id)}\">
            <a class=\"addthis_button_facebook\"></a>
            <a class=\"addthis_button_vk\"></a>
            <a class=\"addthis_button_compact\"></a>
            <a class=\"addthis_counter addthis_bubble_style\"></a>
          </div>" %>
				</li>
        <% end -%>
      </ul>
		</li>
		<% end -%>
    <!--
    <li >
		  <a class="prices-cat prices-cat-selected">123</a>
		</li>
    -->
	</ul>
</div>

<% content_for :page_javascript do %>
  $(function() {
    $('.image-list a').lightBox({
      afterShow: function() {
        addthis.toolbox(".addthis_toolbox");
      }
    });

    $('.prices-cat').click(function() {
      $(this).next().toggleClass('folded', 200, function () {
        var $li = $(this).closest('li');
        var $a_pc = $li.children('a.prices-cat');

        if(!$(this).hasClass('folded')) {
          $.scrollTo($li, 500, {offset: -50});
          $a_pc.addClass('prices-cat-selected');
        } else {
          $a_pc.removeClass('prices-cat-selected');
        }
      });

      return false;
    });
  });
<% end %>

