<li id="cat_<%= cat.id %>_goods">
  <a href="#" class="prices-cat"><%= cat.name %></a>
	<ul class="block-ul" style="display: none;">
    <%= render :partial => "good", :collection => cat.goods.site %>
  </ul>
</li>