<div class="catalog">
  <%=raw @category.description %>
  <%= render :partial => 'paginator', :locals => {:nobg => false} %>

  <ul class="list_product">
    <%= render :partial => 'good', :locals => {:category => @category}, :collection => @goods %>
  </ul>

  <%= render :partial => 'paginator', :locals => {:nobg => true} %>
</div><!--end_catalog-->
