<%=raw @page.content %>

<div class="fd_form">
  <h2>Форма обратной связи</h2>
  <%= form_tag feedback_url, :method => :post do %>
    <div class="left">
      <p><label>Ваше имя</label><input type="text" name="feedback[name]" class="standart_inptxt" /></p>
      <p><label>Email</label><input type="text" name="feedback[email]" value="example@company.ru" class="standart_inptxt inp_gray" onclick="if(this.value=='example@company.ru'){this.value='';}" onblur="if(this.value==''){this.value='example@company.ru';}" onkeydown="setcolor(this,'#000')"/></p>
    </div>
    
    <div class="right">
      <p><label>Телефон</label><input type="text" name="feedback[phone]" value="+7 (906) 333-09-33" class="standart_inptxt inp_gray" onclick="if(this.value=='+7 (906) 333-09-33'){this.value='';}" onblur="if(this.value==''){this.value='+7 (906) 333-09-33';}" onkeydown="setcolor(this,'#000')"/></p>
      <p class="fb_checkbox"><input type="checkbox" id="checkfd" name="feedback[callback]" class="styled" /><label for="checkfd">Перезвоните мне</label></p>
    </div>
    
    <div class="clear"></div>
    
    <label>Сообщение</label>
    <textarea cols="" rows="" class="fd_txtarea" name="feedback[message]"></textarea>
    
    <input type="submit" value="Отправить" class="blue_inp_bg" />
  <% end %>
</div>

