<div class="today">
					<div class="today-title">
						СЕГОДНЯ
					</div>
					<ul>
						<li>18:00 <a href="#">ПЕСНЯРЫ ДЯДИ ВАСИ | FREE</a></li>
						
						<li class="last">22:00 <a href="#">КРУТАЯ МЕГАТУСОВКА | FREE</a></li>
					</ul>
				</div>
				<div class="featured">
					<div class="fName">АФИША</div>
					<div class="fImage"><img src="img/photo_b.jpg"></div>
					<div class="fTitle">12.01 20:00<br> Квартет имени Александра Дульмана</div>
					<div class="fText">Цена:200р</div>
				</div>
				<div class="featured">
					<div class="fName">МЕНЮ</div>
					<div class="fImage"><img src="img/alco.jpg"></div>
					<div class="fTitle">Алко АКЦИЯ!</div>
					<div class="fText">Только по четвергам!
Целый день и всю ночь!<br>
При заказе любого коктейля - второй FREE!<br>
(в другие дни акция действует с 23:00, кроме пт. и сб.)</div>
				</div>
				
				<div class="featured featured-last">
					<div class="fName">БУТИК</div>
					<div class="fImage"><img src="img/sumka.jpg"></div>
					<div class="fTitle">Сумка </div>
					<div class="fText">Новая сумка от SquatShop. Сделана из высококачественной кожи. Стоимость: 990 руб.</div>
				</div>
				<div class="clearfix"></div>
				<div class="fName">СКОРО</div>
				<div class="events">
					<a href="#" class="arrow-left"></a>
					
					<ul class="block-ul slider">
						<li class="slider-item">
							<a class="slider-item-a" href="#">
							<div class="slider-item-img "> <img src="img/slider.jpg"/></div>
							<div class="slider-item-date ">12.01 22:00</div>
							<div class="slider-item-title">Блюзменшуз шоу в сквоте</div>
							<div class="slider-item-more">подробнее</div>
							<div class="clearfix"></div></a>
						</li>
						<li class="slider-item">
							<a class="slider-item-a" href="#">
							<div class="slider-item-img "> <img src="img/slider.jpg"/></div>
							<div class="slider-item-date ">12.01 22:00</div>
							<div class="slider-item-title">Блюзменшуз шоу в сквоте</div>
							<div class="slider-item-more">подробнее</div>
							<div class="clearfix"></div></a>
						</li>
						<li class="slider-item">
							<a class="slider-item-a" href="#">
							<div class="slider-item-img "> <img src="img/slider.jpg"/></div>
							<div class="slider-item-date ">12.01 22:00</div>
							<div class="slider-item-title">Блюзменшуз шоу в сквоте</div>
							<div class="slider-item-more">подробнее</div>
							<div class="clearfix"></div></a>
						</li>
					</ul>
					<a href="#" class="arrow-right"></a>
				</div>

