<ul class="submenu">
  <% StaticPage.site_children(@page.self_and_ancestors[0]).each do |page| -%>
  <li>
    <%= link_to page.title, static_page(page) %>
	</li>
  <% end -%>
</ul>	

<div class="text-wrapper">
  <%=raw @page.content %>
  <ul class="block-ul image-list">
    <% @page.attachments.each do |photo| -%>
		<li>
      <%= link_to image_tag(photo.image.url(:site)), photo.image.url %>
		</li>
    <% end -%>
  </ul>

</div>

<% for i in 1..6 -%>
  <div class="flash_tour"><div id="tour<%= i %>"></div></div>
<% end -%>

<% content_for :page_javascript do %>
  $(function() {
    $('.image-list a').lightBox();
    
    for(i=1 ; i<=6 ; i++) {
      swfobject.embedSWF("/tour/zal"+i+".swf", "tour"+i, "695", "500", "9.0.0");      
    }
  });
<% end %>
