<div id="active_admin_content">
  <div id="main_content_wrapper">
    <div id="main_content">
      <div class="blank_slate_container">
        <span class="blank_slate">
          <%=t 'active_admin.blank_slate.content', :resource_name => StaticPage.to_s %> 
          <%= link_to t('active_admin.blank_slate.link'), new_admin_static_page_path %></span>
      </div>
    </div>
  </div>
</div>
