<p>Добро пожаловать в интернет-магазин мебели OLTIS!</p>

<p>Для изменения пароля перейдите по ссылке <%= link_to nil, edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Желаем Вам успешных покупок!</p>

<p>
  Ваш интернет-магазин мебели<br>
  <%= link_to image_tag('site/logo_email.jpg', :alt => "Oltis"), root_url %>
</p>
