<% variant_type = nil if !defined? variant_type -%>
<% value = "" if !defined? value -%>
<li class="ui-state-default">
  <span class="ui-icon ui-icon-arrowthick-2-n-s sort"></span>
  <%= text_field_tag "good[variants][#{variant_type || "${variant_type}"}][]", value %>
  <span class="ui-icon ui-icon-close close"></span>
</li>

