@charset "utf-8";
/* CSS Document */
.nounder a
{text-decoration: none;}

.green{background-color:RGB(23,165,89) !important}
.red{background-color: RGB(255,134,13) !important}
.blue{background-color:RGB(16,170,219) !important}

.block-ul
{
	display: block;
	list-style: none;
}

.text-wrapper {
  margin-top: 20px;
  line-height: 1.5em;
}

.menu_wrapper {
  height: 31px;
}

.menu a, a:visited{
	text-decoration:none;
	color:black;
}

.quickmenu_list li
{
	padding-left:10px;
}
.quickmenu_list li a, .quickmenu_list li a:visited
{
	color:black;
	text-decoration:none;
}




.quickmenu_list li a:hover, .search li a:hover
{
	color:#F08245;
}

#quickmenu
{
	background-color:#F3E93F;
	padding-top:10px;
	padding-bottom:10px;
}

.search
{
	margin-top:12px;
}

.search li
{
	margin-bottom:10px;
}

.search li a, .search li a:visited
{
	color:black;
	
}



.arrow-down
{
	width: 25px;
	height: 13px;
	background-image: url(/assets/site/arrow.png);
	display: block;
}
.arrow-up
{
	width: 25px;
	height: 13px;
	background-image: url(/assets/site/arrow.png);
	background-position: 0px 13px;
	display: block;
}
.arrow-left
{
	width: 13px;
	height: 25px;
	background-image: url(/assets/site/arrow_side.png);
	background-position: 13px;
	display: block;
}
.arrow-right
{
	width: 13px;
	height: 25px;
	background-image: url(/assets/site/arrow_side.png);
	display: block;
}

ul{
display: block;
list-style-type: disc;
-webkit-margin-before: 0px;
-webkit-margin-after: 0px;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
}

.head, .footer, .container, .menu{
	padding:0px;
	margin:0px;
	width:100%;
}


a img{
border:none;
}
	
.content, .head-cont, .menu-cont, .footer-cont{
	width:960px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0px;
	margin-bottom: 0px;
}
.right-column
{
	display:block;
	float:right;
	width:250px;
	margin-left:10px;
}

/* LAYOUT */

html, body
{
	margin:0px;
	padding:0px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

#container{
  position: relative;
  min-height: 100%;
}

* html #container {
   height: 100%;
}

#main
{
	padding-bottom: 165px;
}

footer{
	background-color: #1d1d1d;
	border-top:3px solid #f08245;
	color: white;
	font-size: 12px;
	padding-top: 20px;
	padding-bottom: 20px;

  position: relative;
  height: 114px;
  margin-top: -150px;
}


/* HEADER STYLE*/
.head{
	background-image:url(/assets/site/dots.png);
	background-position:center top;
	min-height: 124px;
	padding:0px;
	width: 100%;
	height: 100%;
	

}

.head-cont, .head{
	background-color:#000;
	min-height: 124px;
}

.head-left{
	margin-top: 12px;
	margin-left: 5px;
	float:left;
	}
.head-banner{
	margin-top: 0px;
	margin-left: 24px;
	float:left;
}

.head-banner img{
  width: 600px;
}

.head-right{
	float:right;
	margin-top:10px;
	width:200px;
	}
	
#head_address_bar {
  display: none;
}

#head_address_bar #head_address {
  
}

#head_phone {
}

#head_phone_small {
  color:white;
  font-size:14px;
  vertical-align: top;
  line-height: 24px;
}

#head_phone_big {
  color: white;
  font-size:24px;
}
	
/* MENU */
.menu{
	border-top:3px solid #f08245;
	background-color: #f3e93f;
	height:28px;
	font-size:12px;
}

#menu_fixed_scroll, #sidebar_fixed_scroll {
  position: relative;
  top: 0px;
  z-index: 9999;
}

.menu-cont{
	padding-left: 0px;
	
}

.menu-main ul{
margin-top:0px;
margin-bottom:0px;
padding:0px;


float:left}

.menu-main .selected, 
.menu-main .selected:hover, 
.menu-main .selected:visited
{
	background-color: #ff9218;
	color:white;
	text-decoration: none;
	border-image:url(/assets/site/menu-dy.png);
	-moz-border-image:url(/assets/site/menu-dy.png);
}

.menu-main li{
	float:left;
	
	list-style:none;
	height:28px;
	
}
.menu-main a
{
	padding-top: 4px;
	padding-left: 10px;
	padding-right:10px;
	padding-bottom:4px;
	display:block;
	background-color:#f3e93f;
	border-image:url(/assets/site/menu-d.png);
	-moz-border-image:url(/assets/site/menu-d.png);
	border-left:0px;
	border-top:0px;
	border-bottom:0px;
	border-right:1px;
	font-size: 14px;
}

.menu-main a:visited
{
	color:black;
}

.menu-main a:hover
{
	background-color: #ff9218;
	color:white;
	text-decoration:none;
	border-image:url(/assets/site/menu-dy.png);
	-moz-border-image:url(/assets/site/menu-dy.png);
}

.menu .right-column
{
	margin-top:6px;
}

.menu input
{
	
	border: none;
	background: #feff6b;
	border-image: initial;
	padding-left: 10px;
	padding-right: 10px;
	

}
.menu #keyword{
	width: 188px;
}

.submenu
{
	display: block;
	list-style: none;
	margin-top:10px;
	margin-bottom: 40px;
}
.submenu li
{
	
	float: left;
	margin-right: 10px;
}
.submenu a
{
	background: #d1d1d1;
	color: black;
	text-decoration: none;
	padding: 2px 10px;
	font-size: 12px;	
}

.submenu span.current
{
	background: #F3E93F;
	color: black;
	text-decoration: none;
	padding: 2px 7px 2px 10px;
	font-size: 12px;
	margin-right: 3px;
}

.submenu a:hover
{
	background: #F3E93F;
	color: black;
}
.submenu a:visited
{	color: black;
	}

.today{
	width: 700px;
	float:left;
	margin-bottom: 0px;
	background: lightGoldenrodYellow;
}
.today hr{
	margin: 0px;
	padding: 0px;
	height:0px;
	background: none;
	
}
.today-title{
	float: left;
	background-color: RGB(228,18,45);
	color: white;
	font-weight: bold;
	padding: 5px 10px;
	font-size: 16px;
}
.today ul
{width:500px;
padding-top: 6px;
padding-left: 20px;
float:left;
font-size: 16px;
}
.today li
{padding-bottom: 2px;
margin-top: 2px;
margin-left: 20px;
border-bottom: dashed 1px black;}
.today .last{
	border:none;
}
.today li a{
	color: #F08245;
	text-decoration: none;
}
.today li a:hover{
	
	text-decoration: underline;
}
/* CONTENT */
.inner
{
	width: 700px;
	float: left;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

.page-header
{
	background: black url(/assets/site/h1.gif) right 0 no-repeat;
	width: 350px;
	height: 20px;
	font-size: 20px;
	text-transform: uppercase;
	text-align: left;
	font-weight: normal;
	color: white;
	line-height: 1.1em;
	padding: 3px 5px;
	margin: 20px 0px 30px 0;
}

/* FOOTER */
footer a{
	color:white;
	cursor: pointer;
}
footer a:hover{
	color:white;
	text-decoration: underline;
}
footer a:visited{
	color:white;
}
footer .right-column img{
	float: right;
	margin-right: 10px;
}
.copyright{
	text-align: center;
	width: 960px;
	font-size: 10px;
	margin-top: 60px;
}
footer li{margin-bottom: 2px;}
.footer-c1{
margin-left: 25px;
float: left;	
}
.footer-c2{
margin-left: 100px;
float: left;	
}
.footer-c3{
	margin-left: 100px;
	float: left;	
}

/* BLOCK*/
.block-header{
	width: 250px;
	background-color: #1b1b1b;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: pointer;
	border-bottom: 1px solid white;
}

.block-header-title
{
	width:200px;
	padding-left: 15px;
	font-size: 14px;
	float:left;
}

.block-header a,
.block-header a:hover,
.block-header a:visited
{
	color: white;
	text-decoration: none;
}

.block-header-arrow
{
	float: left;
	margin-top: 2px;
}

.block-content
{
	background-color: gray;
	padding: 5px;
}

#calendar {
  padding: 1px;
}

.social-nets {
  padding-left: 5px;
}

.social-nets a, .social-nets div {
  float: left;
}

.social-nets div.separator {
  width: 40px;
}


/* INDEX */
.featured{
	width: 200px;
	float: left;
	margin-right: 35px;
	margin-top: 5px;
}
.featured-last{
	
	margin-right: 0px;	
}
.fName{
	background-color:RGB(228,18,45);
width: 100px;
margin-left: 0px;
height: 20px;
text-align: center;
/*font-weight: bold;*/
font-size: 18px;
color: white;
padding: 3px;
}

.fName a, .fName a:hover, .fName a:visited, .fName a:active {
	color: white;
	cursor: pointer;
	text-decoration: none;
}

.fImage{
	
	
}
.fImage img{width: 220px;}

.fTitle
{background: lightGoldenrodYellow;
padding:5px;
font-weight: bold;
width:210px;
}
.fText{
	padding: 5px;
}

.events
{
	height: 300px;
	background-color: #1e1e1e;
	margin-top: 0px;
	width:670px;
}

.events a{
	text-decoration: none;
}
.events .arrow-left{
	float: left;
	margin-left: 10px;
	margin-top: 140px;
	
}
.events .arrow-right{
	float: left;
	margin-left: 0px;
	margin-top: 140px;
}

.events #carousel
{
  width:585px;
	float:left;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 20px;
	height: 280px;
	overflow: hidden;
}

.events .slider
{
  float: left;	
}
.slider-item
{
	width: 160px;
	color: white;
	float: left;
	margin-right: 35px;
	
}

.slider-item a{
	padding: 5px;
	margin: 0px;
	
}
.slider-item:hover
{
	background: #111;
}

.slider-item-title
{text-decoration: none;
color: white;
margin-left: 5px;}
.slider-item-date
{
	color: #FF7B00;
	margin-left: 5px;
}
.slider-item-more
{
	color: #FF7B00;
	margin-left: 5px;
	font-style: italic;
}
.slider-item-img{
	margin-left: 5px;
}
/* AFISHA*/
.afisha-pager
{
	background-color: #1d1d1d;
	width: 100%;
	height: 30px;
	display: block;
}
.afisha-pager:hover
{
	background-color: #3e3e3e;
	
}
.afisha-pager .arrow-down{
	margin-left: 320px; 
	
	margin-top: 10px;
	float:left;
	
}

.afisha-pager .arrow-up{
	margin-left: 320px; 
	
	margin-top: 8px;
	float:left;
	
}

.afisha-item-header , .prices-cat{
	width: 684px;
	background-color: #cecece;
	text-align: left;
	padding-left:10px;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 12px;
	color: #1e1e1e;
	text-decoration:none;
	display: block;
	margin-bottom: 4px;
}

.afisha-item-header-selected, .prices-cat-selected, .afisha-item-header:hover, .prices-cat:hover{
	color: #1e1e1e;
	background-color: #F08245;
}

.afisha-item-content-closed .afisha-item-image{
	width: 250px;
	height:115px;
	background-image: url('/assets/site/photo_s.jpg');
	float: left;
}
.afisha-item-content-closed{
	height: 115px;
}
.afisha-item-content-closed .afisha-item-text{
	width: 410px;
	margin-left: 10px;
	margin-top:10px;
	height:80px;
	
	display: block;
	float: left;
	
	
}
.afisha-item-content-closed .afisha-item-readmore{
	height: 15px;
	border-top:solid 1px #1d1d1d;
	float:left;
	width: 410px;
	margin-left: 10px; 
}
.afisha ul
{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}
.afisha ul li
{
	display:block;
	margin-bottom: 10px;
	
}
.afisha .closed .afisha-item-content-opened
{
	display: none;
}

/*MENU PRICES*/
.food{
	border-bottom: dotted 1px #444444;
	margin-left: 73px;
}

.food-image {
  margin-top: 3px;
  width: 66px;
  height: 66px;
  float: left;
  overflow: hidden;
}

.food-image img {
  position: relative;
  /*top: -50%;*/
}

.prices {
  margin-top: 15px;
}

.prices ul ul{
	padding-top:0px;
	margin-bottom: 10px;
	width:690px;
}

.prices ul ul.extra_width{
	width:700px;
}


.prices ul ul li {
	margin-bottom: 5px;
}
.prices ul ul li span{
	
	
	border-bottom: 2px white solid;
	
}
.food-desc{
	max-width: 650px;
	font-size: 12px;
	font-style: italic;
	margin-top: 2px;
	margin-left: 76px;
}

.food-desc p
{
	margin:0px;
	padding:0px;
	}

.food-price
{
	
	border-bottom: 2px white solid;
	
	float: right;
}

/* Photos */
.image-list li
{
	float:left;
	margin-right:2px;
  	margin-bottom: 2px;
  	width:85px;
  	height:85px;
/*  	height:40px;*/
  	overflow:hidden;
}
.image-list{
	overflow:hidden;
  margin-left: 0px;
}

.image-list.folded {
  height: 85px;
  padding-top:0px;
}

img.one_photo_img {
  width: 690px;
}

.photo_album_title_line {
  font-size: 18px;
  padding: 10px 0px;
}

/* EVENTS */

div.event {
  overflow: hidden;
  position: relative;
}

div.event.closed {
  height: 100px;
}

div.event.closed img,
div.event.opened img {
  position: relative;
  left: 0px;
  float: left;
}

div.event_content {
  margin-left: 260px;
  padding: 0px 20px 20px 0px;
}

div.event_content p {
  margin: 0px;
}

div.event_content .short_content {
  padding-top: 10px;
  height: 100px;
  position: relative;
  line-height: 1.5em;
}

div.event_content .full_content {
  line-height: 1.5em;
  padding: 20px;
}

div.read_more {
  padding: 0px 10px;
  border-top: 1px solid black;
  position: absolute;
  bottom: 0px;
  left: 260px;
  height: 20px;
  width: 100%;
  padding-top: 4px;
}

div.read_more a:visited {
  color: black;
}

a.afisha-item-header:visited,
a.prices-cat:visited {
  color: black;
}

::-webkit-input-placeholder {
  color: #999;
}

:-moz-placeholder {
  color: #999;
}

input:placeholder {
  color: #999;
}


.register
{
	background-color:#a9d45e;
	padding: 10px 10px;
	
}
/*
.register ul
{
	
	padding-left:35px;
	margin: 3px 0px;
}

.register ul li
{
	float:left;
	padding:5px 10px;
	cursor:pointer;
	
}

.register ul li#item1
{
	
}

.register ul li#item2
{
	margin-left:15px;
	
}

.register ul .selected
{
	color:white;
	background-color:#17a559;
	
}
*/
.register #attselect-items
{
	background-color:#17a559;
	width:225px;
	padding: 5px 0px;
	margin-top:5px;
	padding-left: 5px;
}
.register #attselect-items select
{
	background-color:#c4f174;
	border:none;
	border-image: initial;
	width:195px;
}

.register .userdata
{
	float:none;
	margin-top:5px;
}

.register .userdata input
{
	margin-left: 9px;
	border:none;
	border-image: initial;
	margin-top:2px;
	padding: 0px 5px;
	background-color:#c4f174;
}

.register #submit, .register #submit:visited
{
	margin-left: 30px;
	margin-right: 30px;
	border:none;
	border-image: initial;
	margin-top:10px;
	padding: 5px 10px;
	background-color:#21a859;
	color:white;
	width:160px;
	text-align:center;
	
}

.register #submit:hover
{
	background-color:#35dc7a;
}

.register #date
{
	border:none;
	border-image: initial;
	margin-top:2px;
	padding: 0px 5px;
	background-color:#c4f174;
	text-align:center;
}
.register .userdata img {vertical-align: top}

.register .userdata .field {display: block;clear:both;overflow:hidden;}
.register .userdata .field .title {width: 70px; line-height: 18px;}
.register .userdata .field .input {float:right;margin-left:-70px;width:100%;}
.register .userdata .field .input input {display: block; margin-left: 70px;width:160px;}

.register .userdata .field.birthday .title {width: 100px; line-height: 18px;}
.register .userdata .field.birthday .input {float:right;margin-left:-130px;width:100%; background: url('/assets/site/present.png') 108px 1px no-repeat}
.register .userdata .field.birthday .input input {display: block; margin-left: 130px;width:100px;}



/* Стрелочки*/
.witharrows{
float:left;
}
.arrow
{
	display: block;
	list-style: none;
	margin-top:10px;
	margin-bottom: 40px;
	
	
	
}

.aleft {padding-right:5px;float:left;}
.aright{padding-left:5px;float:right;}
.arrow a
{
	background: #d1d1d1;
	color: black;
	text-decoration: none;
	padding: 2px 10px;
	font-size: 12px;
	width:5px;
	font-weight:bold;
}

.arrow a:hover
{
	background: #F3E93F;
	color: black;

}
.arrow a:visited
{	color: black;
	}

.submenu li:last-child {margin-right:0px;}

.pagination.submenu {
text-align: center;
}
